.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    width: 100px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%; /* Make the squares circular */
  }
  
  .square:focus {
    outline: none;
  }
  